/data
.DS_Store
/notebooks
resources/.DS_Store
word2vec-visualization
code/__pycache__
/Users/oluwayetty1/Desktop/School/1-2/NLP/public_homework2/resources/bn2wn_mapping.txt
/Users/oluwayetty1/Desktop/School/1-2/NLP/public_homework2/resources/combined.tab
